<div class="vh-100 gradient-custom login-parent-container">
    <form (ngSubmit)="userLogin()">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="login-container">

                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                <div data-mdb-input-init class=" email-container  form-outline  form-white mb-4">
                                    <label class="form-label email-label" for="typeEmailX">Email</label>
                                    <input type="email" id="username" name="username" [(ngModel)]="user.username"
                                        class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="  password-container form-outline form-white mb-4">
                                    <label class="form-label password-label" for="typePasswordX">Password</label>
                                    <input type="password" id="password" name="password" [(ngModel)]="user.password"
                                        class="form-control form-control-lg" />
                                </div>
                                <button data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>